﻿@charset "utf-8";
/* CSS Document */

/*PRODUCTS*/
@font-face {
	font-family: 'PTSansFont';
	src: url(../fonts/PTS55F.ttf) format('truetype');
}
html, body, input, button, select, textarea, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'PTSansFont';
}
ul.products {
	margin: 0px;
	padding: 20px 10px;
}
.products li {
	padding: 10px 0px;
	color: #fff;/*font-family: 'Century Gothic Regular', 'Century Gothic';*/
}
#productskm-bg {
	background: #5B8484;
	padding: 15px 0px;
}
#products-bg {
	background: #F5F5F5
}
.yellow-font {
	color: #FFFF00;
	/*	font-family: 'Arial Bold', 'Arial';*/
	font-weight: 700;
	font-style: normal;
	font-size: 24px;
	text-align: left;
	line-height: normal;
}
.tweet-font {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.other-pdts {
	background: #fff;
	padding: 10px 20px!important;
	margin: 15px 0px;
}
/*Hoverable Dropdown button*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #000;
    opacity: 0.75;
    z-index: 1;
}

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content span {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: gray;
        color: darkblue;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*Hoverable dropdown button ends*/

img.top {
    vertical-align: text-top;
}

.bottom {
    vertical-align: bottom;
}

.menubar-font {
    color: white;
    font-size: 1.5em;
}

#affixed-tab-government {
    z-index: 1000;
    width: 12%;
    position: fixed;
    right:0;
    color: maroon;
    /*width: 0;*/
    height: 16%;
    top: 220px;
    overflow-y: auto;
    background: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow:hidden;
}

#affixed-tab-commercial {
    z-index: 1000;
    width: 12%;
    position: fixed;
    color: maroon;
    right: 5px;
    /*width: 0;*/
    height: 16%;
    top: 120px;
    overflow-y: auto;
    background: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

.menubar-styling {
    padding-bottom: 5px;
    vertical-align: text-bottom;
    text-align:left;
}

/* ZOOM IN IMAGE ON HOVER */
.img-wrapper {
    display: inline-block;
    overflow: visible;
}

    .img-wrapper img {
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        vertical-align: middle;
    }

        .img-wrapper img:hover {
            transform: scale(1.4);
            -ms-transform: scale(1.4); /* IE 9 */
            -moz-transform: scale(1.4); /* Firefox */
            -webkit-transform: scale(1.4); /* Safari and Chrome */
            -o-transform: scale(1.4); /* Opera */
        }

        /* ZOOM IN TEXT ON HOVER */
.zoom {
    transition: transform .2s; /* Animation */
}

    .zoom:hover {
        transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }













iframe {
    width: 100%;
    height: 300px;
    margin-top: 10%;
}
.margintop8 {
	margin-top: 8%;
}
.margintop5 {
	margin-top: 3%;
}
#index-pdt-bg {
	background: #F5F5F5;
}
.btn-more {
	padding: 15px 0px;
}
/*SERVICES*/
.container-custom {
	min-width: 1060px;
	margin-left: 0px auto;
	margin-right: 0px auto;
}
html, body {
	/*font-family: 'Century Gothic Regular', 'Century Gothic';*/
	height: 100%;
}
#slider {
	height: 100%;
}
p, .jumbotron {
	font-size: 16px;
	font-weight: 400;
}
.breadcrumb-text {
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
	-webkit-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
	-moz-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
	margin-top: 6%;
	margin-bottom: 2%;
}
.service_sub {
	border: 1px solid #ccc;
	margin: 10px;
	padding: 8px;
}
.service_sub > img {
	width: 30px;
	margin: 0px 5px;
}
.txt-green {
	color: #006666;
}
.service_sub > label {
	font-weight: normal;
	font-size: 16px;
}
.tech_infrastructure > div.col-md-2.text-center > img {
	width: 38px;
	margin-top: 25px;
}
.text_part1, .text_part2 {
	text-decoration: underline;
	opacity: 0.898039215686275;
}
.text_part1 {
	color: #FFCC66;
}
.font-black {
	color: #000;
}
.breadcrumb_font {
	font-size: 52px;
	/*font-family: 'Arial Regular', 'Arial';*/
	font-weight: 400;
}
.text-center > img {
	margin-top: 10%;
}
.service_font {
	font-size: 52px;
	font-weight: 400;
}
.sub_fontSize {
	font-size: 14px;
}
.header_btm > div > h4, .jumbotron > h3 {
	margin-bottom: 0px;
	/*font-family: 'Century Gothic Bold', 'Century Gothic';*/
	font-weight: 700;
	font-size: 16px;
}
.jumbotron > h3 {
	margin-bottom: 20px;
	/*font-family: 'Century Gothic Bold', 'Century Gothic';*/
	font-weight: 700;
}
.header_btm > div > p {
	margin: 0 0 20px;
}
.padding_RLnone {
	padding-left: 0px;
	padding-right: 0px;
}
.font-white {
	color: #fff;
}
/*CONTACT US*/
#contact-bg {
	background: #E4E4E4;
}
.headquarter-font {
	font-size: 18px;
	font-weight: 700;
}
.form-control {
	background: #C9C9C9;
}
.font-blue {
	margin-bottom: 30px!important;
	color: #0066FF;
}
.btn-submit {
	background: #000;
	color: #fff;
	outline: none;
	text-transform: uppercase;
}
.btn-submit:hover {
	background: #000;
	color: #fff;
	outline: none;
}
.padding0 {
	padding: 0;
}
@media only screen and (max-width: 480px) {
a {
	font-size: 14px;
}
.mobileview-clientimg {
	width: 100%;
}
.footer-custom {
	width: 100%;
	margin-top: 10px;
}
.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -136px!important;
}
.page-wrap:after {
	content: "";
	display: block;
}
.site-footer, .page-wrap:after {
	height: 130px!important;
}
.breadcrumb-text {
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
	-webkit-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
	-moz-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
	margin-top: 25%;
	margin-bottom: 2%;
}
.career-margin {
	margin-top: 25%;
}
}
/*CAROUSEL*/
.carousel, .item, .active {
	height: 100%;
}
.carousel-inner {
	height: 100%;
}
/* Background images are set within the HTML using inline CSS, not here */

.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
/*SIDEBAR*/
#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#wrapper.toggled {
	padding-left: 250px;
}
#sidebar-wrapper {
	z-index: 1000;
	width: 10%;
	position: fixed;
	right: 5px;
	/*width: 0;*/
	height: 10%;
	margin-left: -250px;
	overflow-y: auto;
	background: #000;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	overflow: hidden;
	opacity: 0.97;
}
#wrapper.toggled #sidebar-wrapper {
	width: 100%;
}
#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}
/* Sidebar Styles */

.sidebar-nav {
	position: relative;
	top: 134px;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	left: 35%;
}
.sidebar-nav li {
	text-indent: 20px;
	line-height: 75px;
}
.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999999;
	font-size: 35px;
}
.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;/*background: rgba(255,255,255,0.2);*/
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
	color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}
 @media(min-width:768px) {
#wrapper {
	padding-left: 250px;
}
#wrapper.toggled {
	padding-left: 0;
}
#sidebar-wrapper {
	width: 100%;
}
#wrapper.toggled #sidebar-wrapper {
	width: 0;
}
#page-content-wrapper {
	padding: 20px;
	position: relative;
}
#wrapper.toggled #page-content-wrapper {
	position: relative;
	margin-right: 0;
}
}
/*updated -- service know more --   */

.service_Img > section > figure > img {
	margin: 15px;
}
figcaption {
	/*font-weight: 600;*/
	font-size: 16px;
	color: #000;
}
figcaption:hover {
	text-decoration: none;
}
.service_Img > section {
	padding: 10px;
}
.btn-more > .btn-default {
	background: #000;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
}
.btn-more > .btn-default:hover, .btn-more > .btn-default:active {
	background: #000;
	color: #fff;
}
/*Footer*/
#footer {
	background: #000;
	width: 100%;
	color: #fff;
	padding: 25px 0px;
	clear: both;
}
 @media (max-width:480px) {
	  .footer-custom{
		 padding-bottom:20px !important;
		 }
.navbar-header img {
	max-width: 70%;
}
.career_display > a {
	font-size: 20px;
}
.btm_spaceNone > a {
	font-size: 20px;
	font-weight: 500;
}
.viewjob-font {
	font-size: 20px;
}
.job-details {
	padding: 0;
}
.sidebar-nav {
	position: relative;
	top: 134px;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	left: 5%;
}
}
 @media (min-width:769px) and (max-width:992px) {
.nav > li > a {
	position: relative;
	display: block;
	padding: 20px 8px;
}
.breadcrumb-text {
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
	-webkit-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
	-moz-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
	margin-top: 14%;
	margin-bottom: 2%;
}
.career-margin {
	margin-top: 12%;
}
.sidebar-nav {
	position: relative;
	top: 134px;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	left: 25%;
}
}
 @media (min-width:481px) and (max-width:768px) {
.breadcrumb-text {
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
	-webkit-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
	-moz-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
	margin-top: 14%;
	margin-bottom: 2%;
}
.career-margin {
	margin-top: 15%;
}
.sidebar-nav {
	position: relative;
	top: 134px;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	left: 15%;
}
}
 @media (min-width:992px) and (max-width:1600px) {
.sidebar-nav {
	position: relative;
	top: 134px;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	left: 35%;
}
.breadcrumb-text {
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
	-webkit-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
	-moz-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
	margin-top: 8%;
	margin-bottom: 2%;
}
.career-margin {
	margin-top: 8%;
}
}
 @media (min-width:299px) and (max-width:387px) {
.logo {
	width: 180px;
	margin-top: 15px;
}
.carousel-caption {
	position: absolute;
	right: 15%;
	bottom: 85px;
	left: 15%;
	/* margin-top: -31%; */
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999999;
	font-size: 17px!important;
}
.glyphicon {
	font-size: 14px!important;
}
}
 @media (max-width:520px) {
.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999999;
	font-size: 25px;
}
.glyphicon {
	font-size: 21px!important;
}
}
 @media (max-width:768px) {
.nav > li > a {
	position: relative;
	display: block;
	padding: 15px 8px;
	font-size: 15px;
	text-align: center;
}
ul.products {
	margin: 0px;
	padding: 10px 40px;
}
.carousel-caption > h2 {
	font-size: 20px;
}
.carousel-caption > h3 {
	font-size: 15px;
}
.carousel-caption > h4 {
	font-size: 12px;
}
}
 @media (min-width: 768px) {
nav > .container {
	padding-right: 5px;
	padding-left: 5px;
}

}
/* careers */

.btm_spaceNone {
	margin-bottom: 10px;
}
section.col-md-9 > a, section.col-md-9 > a:hover {
	border-bottom: #006ca8 3px solid;
	border-radius: 7px;
	background: #0085cf;
	color: #fff;
	font-weight: bold;
}
.career_list > li > a {
	margin: 5px 0px;
}
#career > .btn-color {
	border-bottom: #006ca8 3px solid;
	border-radius: 7px;
	background: #0085cf;
	color: #fff;
	font-weight: bold;
	border: none;
}
.text_bold {
	font-weight: 600;
}
/*ul.nav > .active {
	border-bottom: 4px solid #006a88;
}*/
.navbar-header > a > img {
	margin-top: 7px;
}
/*nav bar link style */
nav > div.layer {
	background-color: #222222;
}
.layer > div > span {
	padding: 0px 5px;
	color: #fff;
}
.layer > div > span > a {
	color: #fff;
	font-size: 12px;
}
.layer > div > span > a:hover {
	color: #ff0;
	font-size: 12px;
	text-decoration: none;
}
.white, .white a {
	color: #fff;
}
.glyphicon {
	font-size: 32px;
}
.sidebar-nav > li > a {
	display: inline-block;
}
#menu-toggle {
	outline: none;
}
#btn-transparent {
	background: transparent;
}
#btn-transparent:hover {
	background: #363636;
}
.p-f20 {
	font-size: 20px;
}
ul.sidebar-nav > .active > a {
	color: #fff;
}
.padding-contact {
	padding: 15px 0px;
}
.logo {
	margin-top: 5px;
}
.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -82px;
}
.page-wrap:after {
	content: "";
	display: block;
}
.site-footer, .page-wrap:after {
	height: 82px;
}
/*carrer page*/
.job-details > li {
	font-size: 18px;
	list-style-type: none;
}
.job-details > li > div > a {
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn-color {
	border-bottom: #006ca8 3px solid;
	border-radius: 7px;
	background: #0085cf;
	color: #fff;
	font-weight: bold;
	border: none;
}
.btn-color:hover {
	background: #0085cf;
	color: #fff;
}

.text-white > a {
	color: #fff;
	font-size: 12px;
	}
.right-space {
	margin-left: 32px;
}
.text-white > a:hover {
	color: #ff0;
	text-decoration:none;
	}


/*footer*/



	.footer-custom {
padding: 0px;
}

.left-wrapper > a {
	clear:both;
	padding-left:10px;
	
	}
.left-wrapper {
padding-right:0px;	
	}
